
*{
  margin: 0;
  padding: 0;
}
#main-container{
  width: 20%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px 30px #e7e7e7;
  margin-left: 40%;
  margin-top: 10%;
  font-family: 'Sora', sans-serif;
}
#img-container{
  width: 100%;
  padding: 0;
}
button{
  border: none;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 2px 15px 2px 15px;
  color: #7C19EE;
  font-weight:600;
  font-family: 'Sora', sans-serif;
  background-color: #F2EAFD;
}
.PicIMG{
  border-radius: 10px;
  width: 100%;
  height: auto;
}
#text-container{
  border-bottom-style: solid;
  border-color: #E5EAF0;
  border-width: 1px;
  padding: 0 15px 15px 0;
  color: #394150;
}
h3{
  color:#20293A;
  margin:0 0 10px 0 ;
}
.name{
  margin: 10px 0 10px 0;
  color: #20293A;
}